pyrogram==1.4.16
tgcrypto
py-tgcalls==0.9.1
pytube
yt-dlp
dnspython
python-dotenv
asyncio
ffmpeg-python
youtube_search
gitpython
aiofiles
aiohttp
requests
lyricsgenius
heroku3
wrapt_timeout_decorator
youtube_dl